footer {
  width: 100%;
  background-color: whitesmoke;
  padding: 15px 10px 15px 15px;
}

.container-quadrados {
  display: flex;
  gap: 0 10px;
  justify-content: space-around;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  list-style: none;
  overflow-x: auto;

}

h2 {
  text-align: center;
  color: #1a4e92;
}

.quadrado {
  margin-right: 5px;
  border-radius: 8px;
  padding: 20px;
  min-width: 240px;
  background-color: #ffffff;
  box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.2);
}

.quadrado h4 {
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  color: #6B615D !important;
}

.quadrado p {
  text-align: center;
  margin: 10px 0;
  color: #6B615D !important;
  font-weight: bold; 
}