<<<<<<< HEAD
@use './header';
@use './footer';
@use './main';
=======
@import './header';
@import './footer';
>>>>>>> 9ecf1cb82832197fbf1a87c228120186f78b9720
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
